# Python
.env
.env.*
!.env.example
venv/
__pycache__/
**/__pycache__/
*.pyc
**/*.py[cod]
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
backend/venv

# Node.js
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
.tmp/
# ROS
build/
devel/
install/
log/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

frontend/dist/

# RViz web local configs
rvizweb_configs/*
!rvizweb_configs/.gitkeep
!rvizweb_configs/default.rvizweb
rvizweb_configs/backups/
